html {
	overflow-x: hidden;
}


body {
	font-family: $font-osans;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	overflow-x: hidden;
	background: $body-color;
	height: 100%;
	position: relative;
}
main {

}
a {
	cursor: pointer;
	color: $menu-active-color;
	@include transition(all .3s);
	&:hover {
		color: $link-hover-color;
	}
}
p, span {
	font-family: $font-osans;
	font-size: 14px;
	line-height: 21px;
	color: $txt-color;
}
img {
	width: 100%;
	height: auto;
}
ul, ol {
	margin-bottom: 35px;
	
	li {
		color: #6a735b;
	}
}
.container {
	max-width: 1200px !important;
	width: 100% !important;
	margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, .section-title {
	font-weight: 700;
	color: $txt-color;
	font-family: $font-roboto;
	&.white {
		color: #ffffff;
	}
}
h1, h1.section-title {
	font-size: calc(3em);
	line-height: calc(1.5em);
	margin: 0;
	margin-bottom: 10px;
}
h2, .section-title {
	font-size: calc(1.75em);
	line-height: calc(1.5em);
	margin: 0;
	margin-bottom: 10px;
}
h3 {
	font-size: calc(1.5em);
	line-height: calc(1.4em);
}
h4 {
	font-size: calc(1.25em);
	line-height: calc(1.2em);
}
h5 {
	font-size: calc(1.15em);
	line-height: calc(1.1em);
}
h6 {
	font-size: calc(1em);
	line-height: calc(1em);
}
body::-webkit-scrollbar-track,
.collapse.in::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
}

body::-webkit-scrollbar,
.collapse.in::-webkit-scrollbar {
	width: 6px;
	background-color: transparent;
}

body::-webkit-scrollbar-thumb,
.collapse.in::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
	background-color: $main-color;
	font-family: $main-color;
}


main {
	padding-left: 70px;
	height: 100%;
}